<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846213202035-c2najsh1bh1ra9cckackrsbg828l1a54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846213202035-c2najsh1bh1ra9cckackrsbg828l1a54</string>
	<key>API_KEY</key>
	<string>AIzaSyBE0wmxGx5eK6q3H_ZFx7Fc0sOFBvCL31U</string>
	<key>GCM_SENDER_ID</key>
	<string>846213202035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.covidactnow.mobile</string>
	<key>PROJECT_ID</key>
	<string>covid-actnow</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-actnow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846213202035:ios:c018d54da023dd6feaaa06</string>
	<key>DATABASE_URL</key>
	<string>https://covid-actnow.firebaseio.com</string>
</dict>
</plist>