<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509481379545-82cg2jtub6l5f8atdagkulqja18rp8v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509481379545-82cg2jtub6l5f8atdagkulqja18rp8v4</string>
	<key>API_KEY</key>
	<string>AIzaSyAbOs3pp5RGO8dzie-fYpQb-4kW88L5pSU</string>
	<key>GCM_SENDER_ID</key>
	<string>509481379545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.covidactnow.mobile</string>
	<key>PROJECT_ID</key>
	<string>covid-projections</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-projections.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509481379545:ios:c91f79f7e89d10ed8b40c8</string>
	<key>DATABASE_URL</key>
	<string>https://covid-projections.firebaseio.com</string>
</dict>
</plist>